$xm:576px;
$sm:768px;
$md: 992px;
$lg:1200px;



// category,
$secondary: #E53935;
$secondary__dark:#c62828;

// Colors of background
$background_top: #000039;
$background_bottom: #1a024e;

// SEARCH BAR
$search_top:#34006a;
$search_bottom:#010058;


// ***** [!!!] *****
// TEXT
$text_c: #f5f5f5; // paragraph, content...
$title_c: #00e0a3; // title
$text_awarded_c: #0c00dd; // main header, awarded text
$black_lt: #333333;


// COLORS
$white: #fff;
