
// Colors of bacground
$background_top: #000039;
$background_bottom: #1a024e;

$search_top:#34006a;
$search_bottom:#010058;


// Colors of text
$text_c: #f5f5f5; // paragraph, content...
$text_header_c: #00e0a3; // headers
$text_awarded_c: #0e00dd; // main header, awarded text
