@import "../variable";


.navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    height: 145px;
    width: 100%;
    background: $navbar_bg; 
    transition: 0.6s;
    box-shadow: 0px 0px 20px #d6dee4;
}

.navbar--shrink {
    height: 60px;
    .navbar__logo {
        font-size: 1.5em;
        letter-spacing: 2px;
        transition: 0.6s
    }
    transition: 0.6s
}

.navbar__desktop{
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.navbar__search {
    width: 40%;
    display:flex;
    justify-content: center; 
    align-items: center;

    input:focus {
        outline:none;
    }

}

.search__bar{
    width: 250px;
    height: 45px;
    padding-top: 5px;
    text-align: center;
    border-radius: 25px;
    background: $search_top;
    background: -webkit-linear-gradient($search_top,$search_bottom); /* Safari 5.1 to 6.0 */
    background: -moz-linear-gradient($search_top,$search_bottom); /* Firefox 3.6 to 15 */
    background: -o-linear-gradient($search_top,$search_bottom); /* Opera 11.1 to 12.0 */
    background: linear-gradient($search_top,$search_bottom); /* Standard syntax (must be last) */
    
    .search__input {
        width: 80%;
        border: none;
        border-bottom: 1px solid #fff;
        color: $text_c;
        background: transparent;
    }
}
@media screen and (max-width: $md) {
    .search__bar{
        width: 250px;
        height: 35px;
    }
}

.navbar__logo {
    width: 20%;
    font-size: 31px;
    font-weight: bold;
    white-space: pre-line;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    transition: 0.6s;

    a, a:hover{
        text-decoration: none;
        color: $text_c;
    }
}

.navbar__menu {
    width: 40%;
    ul {
        list-style: none;
        display:inline;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
           float: left;
        }

        li a {
            display: block;
            color: $text_c;
        }
    }
}

.navbar__mobile{
    display:none
}

@media screen and (max-width: $md)  {
    .navbar__mobile{
        display:none
    }

    /** 
        TODO:
            - pomniejszyc troche bo przy ~780/840 nachodzi 
    **/

}

// MOBILE 
@media screen and (max-width: $sm)  {
    .navbar__desktop{
        display:none
    }
    .navbar {
        width: 100%;
        height: 60px;
        box-shadow: none;

        .navbar__mobile--show{
            width: 230px;
            left: 0;
          //  display: block;
            transition: 0.6s;
            box-shadow: 0px 20px 150px #d6dee4;
        }
        .navbar__mobile--hidden{
            position: fixed;
            left: -300px;
           // display: none;
            transition: 0.6s;
        }
        .navbar__mobile{
            display:block;

            #navbar__icon{
                z-index: 9999;
                margin-left: 10px;
                margin-top: 15px;
                cursor: pointer;
            }

            .navbar__side{
                z-index: -1;
                position: fixed;
                top: 0;
                height: 100%;
                background: $navbar_bg_dark;
                padding-top: 80px;
                padding-left: 10px;
            }
            .navbar__search{
                width: 85%;
            }
            .list__menu{
                font-size: 2rem;
                li{
                    margin-top: 10px;
                    list-style: none;
                    display: block;
                
                    a{    
                        color: $title_c;
                        font-weight: bold;
                        text-decoration: none;
                    }
                    a:hover{
                        color: $text_c;
                        text-decoration: underline;
                    }
                }

            }
        }
    }

}
