
$secondary: #E53935;
$secondary__dark:#c62828;
$background_top: #000039;
$background_bottom: #1a024e;
$search_top:#34006a;
$search_bottom:#010058;
$text_c: #f5f5f5; // paragraph, content...
$title_c: #00e0a3; // title
$text_awarded_c: #0c00dd; // main header, awarded text
$black_lt: #333333;

$background_content: #1a024e;

$navbar_bg: $background_top;
$navbar_bg_dark: $background_top;

$shadow_color: #000039;


$link: $secondary;
$link_hover: $secondary__dark;

$footer: #050523;
$white: #fff;