
$secondary: #E53935;
$secondary__dark:#c62828;
$background_top: #f7f9fb;
$background_bottom: #f4f4f4;
$search_top:#eee;
$search_bottom:#eee;
$text_c: #333; // paragraph, content...
$title_c: #333; // title
$text_awarded_c: #0c00dd; // main header, awarded text
$black_lt: #333333;

$background_content: #fff;


$navbar_bg: #fff;
$navbar_bg_dark: $background_top;

$shadow_color:#d6dee4;


$link: #8870FF;
$link_hover: #1D2247;

$footer: #37474F;
$white: #fff;