.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  height: 145px;
  width: 100%;
  background: #fff;
  transition: 0.6s;
  box-shadow: 0px 0px 20px #d6dee4; }

.navbar--shrink {
  height: 60px;
  transition: 0.6s; }
  .navbar--shrink .navbar__logo {
    font-size: 1.5em;
    letter-spacing: 2px;
    transition: 0.6s; }

.navbar__desktop {
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

.navbar__search {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar__search input:focus {
    outline: none; }

.search__bar {
  width: 250px;
  height: 45px;
  padding-top: 5px;
  text-align: center;
  border-radius: 25px;
  background: #eee;
  background: -webkit-linear-gradient(#eee, #eee);
  /* Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#eee, #eee);
  /* Firefox 3.6 to 15 */
  background: -o-linear-gradient(#eee, #eee);
  /* Opera 11.1 to 12.0 */
  background: linear-gradient(#eee, #eee);
  /* Standard syntax (must be last) */ }
  .search__bar .search__input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #333;
    background: transparent; }

@media screen and (max-width: 992px) {
  .search__bar {
    width: 250px;
    height: 35px; } }
.navbar__logo {
  width: 20%;
  font-size: 31px;
  font-weight: bold;
  white-space: pre-line;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  transition: 0.6s; }
  .navbar__logo a, .navbar__logo a:hover {
    text-decoration: none;
    color: #333; }

.navbar__menu {
  width: 40%; }
  .navbar__menu ul {
    list-style: none;
    display: inline;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .navbar__menu ul li {
      float: left; }
    .navbar__menu ul li a {
      display: block;
      color: #333; }

.navbar__mobile {
  display: none; }

@media screen and (max-width: 992px) {
  .navbar__mobile {
    display: none; }

  /** 
      TODO:
          - pomniejszyc troche bo przy ~780/840 nachodzi 
  **/ }
@media screen and (max-width: 768px) {
  .navbar__desktop {
    display: none; }

  .navbar {
    width: 100%;
    height: 60px;
    box-shadow: none; }
    .navbar .navbar__mobile--show {
      width: 230px;
      left: 0;
      transition: 0.6s;
      box-shadow: 0px 20px 150px #d6dee4; }
    .navbar .navbar__mobile--hidden {
      position: fixed;
      left: -300px;
      transition: 0.6s; }
    .navbar .navbar__mobile {
      display: block; }
      .navbar .navbar__mobile #navbar__icon {
        z-index: 9999;
        margin-left: 10px;
        margin-top: 15px;
        cursor: pointer; }
      .navbar .navbar__mobile .navbar__side {
        z-index: -1;
        position: fixed;
        top: 0;
        height: 100%;
        background: #f7f9fb;
        padding-top: 80px;
        padding-left: 10px; }
      .navbar .navbar__mobile .navbar__search {
        width: 85%; }
      .navbar .navbar__mobile .list__menu {
        font-size: 2rem; }
        .navbar .navbar__mobile .list__menu li {
          margin-top: 10px;
          list-style: none;
          display: block; }
          .navbar .navbar__mobile .list__menu li a {
            color: #333;
            font-weight: bold;
            text-decoration: none; }
          .navbar .navbar__mobile .list__menu li a:hover {
            color: #333;
            text-decoration: underline; } }

/*# sourceMappingURL=navbar.css.map */
