@import "../variable";
@import "../mixin";


.main {
    margin-top: -80px;
    padding: 20px;
    padding-top: 60px;
    background: $background_bottom;
    @include shadow_box;
}

.grid__mesh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

@media (max-width: 992px) {
    .main {
        padding: 0px;
        padding-top: 15px;
        margin-top: -20px;
    }
}

@media (max-width: 576px) {
    .main {
        padding: 0px;
        padding-top: 0px;
        margin-top: -10px;
    }
}