// LIST OF POSTS in INDEX.php
// image+category and header(title) with description

@import "../variable";
@import "./post/thumbnail";
@import "./post/article";
@import "./post/sidebar";

// PRIMARY POSTS
.post__primary {
    margin-top: 50px;
    .postPrimary__img{
        width: 100%;
        height: 320px;
        overflow: hidden;

        .post__thumbnail {
            width: 500px;
            text-align: center;
        }
    }

}



