//@import "../../variable"

// Mobile navigation - overlay (add shadow to body when nav menu on)


.intro__message{
    max-width: 720px;
    margin-top: 100px;

    .h1{
        padding-bottom: 50px;
    }
}


.page__header--index {
    height:100vh;
    background: url('https://patryk-nizio.pl/files/img/patryk.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip:border-box;
}