@import "../variable";

body {
    color: $text_c;
}

@media (min-width: 1200) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 702px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 724px) {
    html {
        font-size: 10px;
    }
}


.title {
    color: $title_c;
    font-weight: bold;
}

.h1{
    font-size: 4rem;
}
.h2{
    font-size: 3rem;
}
.h3{
    font-size: 1.5rem;
}

.title--small {
    font-size: 25px;
    color: $title_c;
    font-weight: bold;
}

.title--awarded {
    font-size: 5rem;
    letter-spacing: 10px;
    color: $text_awarded_c;
    font-weight: bold;
    text-transform: uppercase;
}

.text--small {
    font-size: 13px;
}

.text {
    font-size: 17px;
}

.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}

.text--center {
    text-align: center;
}

.link--clear, .link--clear:hover, .link--clear:visited { 
    color: $text_c;
    text-decoration: none;
}

@media screen and (max-width: $sm)  {
    .title--awarded {
        font-size: 4rem;
        letter-spacing: 5px;
    }


}