@import "../variable";
@import "./typography/link";

body, html {
    color: $text_c;
    font-size: 18px;
}

@media (min-width: 1200px) {
    body, html {
        font-size: 18px;
    }
}

@media (max-width: 858px) {
    body, html {
        font-size: 16px;
    }
}

@media (max-width: 780px) {
    body, html {
        font-size: 15px;
    }
}

@media (max-width: 702px) {
    body, html {
        font-size: 14px;
    }
}

@media (max-width: 724px) {
    body, html {
        font-size: 13px;
    }
}

p{
    line-height: 1.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
    word-spacing: 0.1rem;

}
.title {
    color: $title_c;
    font-weight: bold;
    word-wrap: break-word;
}

.h1{
    font-size: 4rem;
}
.h2{
    font-size: 3rem;
}
.h3{
    font-size: 1.5rem;
}

.title--small {
    font-size: 25px;
    color: $title_c;
    font-weight: bold;
}

.title--awarded {
    font-size: 5rem;
    letter-spacing: 10px;
    color: $text_awarded_c;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;

}


.text--small {
    font-size: 13px;
}

.text {
    font-size: 17px;
}

.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}

.text--center {
    text-align: center;
}

@media screen and (max-width: $sm)  {
    .title--awarded {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }


}